@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f7f7f7;
}

.container {
  margin: 80px auto;
  max-width: 400px;
  text-align: center;
}

h1 {
  color: #3c3c3c;
  font-size: 3rem;
}

.menu {
  margin: 1.5rem;
  border-bottom: 3px solid #3c3c3c;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.menu li {
  list-style-type: none;
  width: 50%;
  padding: 1rem;
}

.menu li a {
  color: #3c3c3c;
  text-decoration: none;
  padding: 1rem;
}

.menu li:is(:hover, :focus){
  background-color: #3c3c3c;
}

.menu li:is(:hover, :focus) a {
  color: #fff;
}